.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background-color:#0047AB !important;
    color:white !important;
    height: auto;
  }

  .main-body{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1248px;
    mat-form-field{
        width:100%;
    }
  }